---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

import { BiGridHorizontal } from "react-icons/bi";
// import { MdOutlineRectangle } from "react-icons/md";
const url = new URL(Astro.request.url);
---

<div
	id="menu"
	class="menu print panel1 header"
	style={{
		position: "fixed",
		width: "100vw",
		top: "0",
		left: "0",
		zIndex: "10",
		maxHeight: "",
		overFlow: "",
		boxShadow: "0 0 2px rgba(0,0,0,.7)",
		padding: "0 2%",
		alignItems: "start",
		borderRadius: "0",
		display: "flex",
		justifyContent: "space-around",
		gap: "10px",

		borderBottom: "1px solid #222",
	}}
>
	<a href="/" class="cornerlogo" aria-current={url.pathname === "/" ? "page" : false}> Logo</a>
	<ul
		class="topmenu"
		style={{
			fontSize: "clamp(.6rem, 1.6vw, 1.8rem)",
			textAlign: "center",
			maxHeight: "",
			display: "flex",
			justifyContent: "space-between",
			gap: "4vw",
			alignItems: "center",
			margin: "0 auto 0 auto",
			padding: "1.5vh 2% 0 2%",
			border: "0px solid white",
		}}
	>
		{
			menuLinks.map((link) => (
				<a
					href={link.path}
					class="px-4 py-4 sm:py-0 sm:hover:underline"
					aria-current={url.pathname === link.path ? "page" : false}
					rel="prefetch"
				>
					{link.title}
				</a>
			))
		}
	</ul>

	<div
		id="missioncontrol"
		class="missioncontrol sitecontrols"
		style={{
			display: "flex",
			justifyContent: "space-around",
			fontSize: "clamp(.8rem, 2.3vw, 2.5rem)",
			gap: "3vw",
			textAlign: "center",
			maxHeight: "",
			alignItems: "center",
			paddingTop: "5px",
		}}
	>
		<Search />
		<ThemeToggle />

		<button
			aria-label="Grid/Swipe View"
			onclick=""
			class="swipescroll"
			style={{
				display: "flex",
				flexDirection: "column",
				justifyContent: "center",
				alignItems: "center",
				marginTop: "0px",
				textAlign: "center",
			}}
		>
			<span class="themetext"> <BiGridHorizontal /></span>
		</button>
	</div>

	<div id="gobacker" style={{ position: "fixed", top: "60px", right: "3vw", zIndex: "5" }}>
		<button
			class="back button"
			style={{ display: "flex", padding: ".4vh .5vw" }}
			onclick="goBack()"
		>
			Go Back
		</button>
	</div>

	<script>
		// Define the goBack function in the global scope
		function goBack() {
			console.log("goBack function called");
			window.history.back();
		}
	</script>
</div>
