---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
// import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 5;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

// const cactusTech: Array<{ title: string; desc: string; href: string }> = [
// 	{
// 		title: "Astro",
// 		desc: "Build fast websites, faster.",
// 		href: "https://astro.build",
// 	},
// 	{
// 		title: "Astro Assets",
// 		desc: "Built-in optimized asset support.",
// 		href: "https://docs.astro.build/en/guides/assets/",
// 	},
// 	{
// 		title: "Tailwind CSS",
// 		desc: "Rapidly build modern websites without ever leaving your HTML.",
// 		href: "https://tailwindcss.com",
// 	},
// 	{
// 		title: "Markdown",
// 		desc: "Simple and easy-to-use markup language.",
// 		href: "https://www.markdownguide.org/",
// 	},
// 	{
// 		title: "MDX",
// 		desc: "Markdown for the component era.",
// 		href: "https://mdxjs.com/",
// 	},
// 	{
// 		title: "Satori",
// 		desc: "Generating png Open Graph images for blog posts.",
// 		href: "https://github.com/vercel/satori",
// 	},
// 	{
// 		title: "Pagefind",
// 		desc: "A fully static search library.",
// 		href: "https://pagefind.app/",
// 	},
// 	{
// 		title: "Astro Icon",
// 		desc: "An easy to use Icon component for Astro.",
// 		href: "https://github.com/natemoo-re/astro-icon#readme",
// 	},
// ];
---

<!-- <section
	aria-label="Blog post list"
	class="scroll-area2"
	style="display: block; position: relative; z-index: 0; overflow: visible; margin: 0px auto; padding: 0px; border: 1px solid blue; width:100vh;" -->
<div class="scroll-container">
	<div class="spacer" style={{ height: "", border: "0px solid yellow" }}></div>
	<h1 class="center title">Welcome to this website</h1>
	<div class="contentpanel horizontal-scroll panels">
		<!-- <div class="contentpanel grid-container"> -->
		<div class="sliderSpacer" style={{ height: "", paddingTop: "", display: "" }}></div>
		{allPostsByDate.map((p) => <PostPreview post={p} as="h2" withDesc />)}
		<div
			style={{ textAlign: "center", display: "grid", placeContent: "center", padding: "10% 0 0 0" }}
		>
			<a
				class="button"
				href="/posts/2/"
				style={{ textDecoration: "none", color: "inherit", textAlign: "center" }}
			>
				View More
			</a>
		</div>
		<div
			style={{ textAlign: "center", display: "grid", placeContent: "center", padding: "10% 0 0 0" }}
		>
		</div>
	</div>
</div>
<!-- </section> -->

<PageLayout meta={{ title: "Home" }}>
	<!-- <section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I’m a theme for Astro, an example of how you can use this starter to create a personal
			blog. If you want to know more about how you can customise me, add more posts, and make it
			your own, click on one the github icon link below which will take you to my repo.
		</p>
		<SocialList />
	</section> -->

	<!-- <section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>
						:<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section> -->
</PageLayout>
