---
import { BiLeftArrow } from "react-icons/bi";
---

<div style={{ display: "flex", justifyContent: "center", color: "#ccc", border: "0px solid red" }}>
	<a
		class="back button"
		href="javascript:void(0);"
		onclick="
		window.history.back();
"
		style={{ display: "flex", justifyContent: "center", padding: ".4vh .5vw" }}
	>
		<span class="icon -left" style={{ paddingRight: "" }}><BiLeftArrow /></span>
		{" "}Go Back
	</a>
</div>
